<% include partials/header %>
    <div class="container">
         <header class="jumbotron">
             <div class="container">
                 <h1 class="text-capitalize">About Us</h1>
                 <h3>What we do</h3>
             </div>
         </header>
    
        
        <br></br>
        <br></br>
        <h1 class="text-center">TEAM</h1>
        <br></br>
        
    
    </div>
<% include partials/footer %>