<% include partials/header %>
<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card card-body">
      <h3 class="text-left text-uppercase">Create A New Survey</h3>
      <br></br>
      <form action="/surveys" method="post">
        <div class="form-group">
          <label for="name">Survey Title</label>
          <input type="text" class="form-control" name="name" required>
        </div>
        <div class="form-group">
          <label for="description">Survey Description</label> <br></br>
          <textarea class="form-control" name="description" rows="5" required></textarea>
        </div>
        
        <button type="submit" class="btn btn-primary float-right">Create Survey</button>
        
        <a class="btn btn-secondary float-left" href="/surveys">Go Back</a>
      </form>
    </div>
  </div>
</div>

<% include partials/footer %>