nav {
    margin-bottom: 2em;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
      
  }
  
 #btnRightSpacing {
     margin-right: 1em;
 }
 
 #delete-inline {
     display: inline;
 }
 
.btn-warning {
    color: #fff;
}